body { background:url(../images/Background1.jpg);  background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
}

.bodyLogin { background:url(../images/Background1.jpg);  background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:50px;
    margin:0px;
    padding:0px;
    width:150px;
}

.bodyWithBackgroundImage {
    background: url(../images/Background1.jpg);
    background-position:center center;
    background-attachment:scroll;   
    background-size: 100%;
}

.bodyWithGradient {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00213f), color-stop(17%,#0e5789), color-stop(47%,#6db1e1), color-stop(85%,#135b8e));
    background: -webkit-linear-gradient(top, #00213f 0%,#0e5789 17%,#6db1e1 47%,#135b8e 85%);
    background: -o-linear-gradient(top, #00213f 0%,#0e5789 17%,#6db1e1 47%,#135b8e 85%);
    background: -ms-linear-gradient(top, #00213f 0%,#0e5789 17%,#6db1e1 47%,#135b8e 85%);
    background: linear-gradient(to bottom, #00213f 0%,#0e5789 17%,#6db1e1 47%,#135b8e 85%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00213f', endColorstr='#135b8e',GradientType=0 );
    background-repeat:repeat-x;
     background-attachment:fixed;
}

.bodyWithBackgroundWaterMarkImage {
    background: url(../images/Background.jpg);
    background-repeat:repeat-y;
    background-position:center center;
    background-attachment:scroll;
    background-size:100% 100%;
}

.buttonSearch {
    background: url(../images/Login_btn.png);
    background-repeat:no-repeat;
  width:20%;
     height:34px;
}

.ui-button .ui-icon.you-own-cusom-class {
    background-image: url(../images/Login_btn.png);
    width: 30%;
    height: 34px;
}

.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}
.ui-input-search { width: 80%;}

#container {margin: 0 auto; width: 320px;}
.Logo {margin: 0px 0 0 100px;}
.Loginbg {background:url(../images/login_bg.png) repeat no-repeat; width:200px; height:250px; padding: 20px 0 0 120px;margin: 20px 0 0 0px;}

.table {margin: 0px 0 0 -80px;}

